<ion-view view-title="Home">
  <ion-content class="has-header">
    <div class="list condensed-space no-padding animate-blinds">
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                        <h2>Toronto</h2>
                        <p>Drake's Raptastic Raptors</p>
                        <img src="http://ionicmaterial.com/preview/img/toronto.jpg">
                    </a>
                </div>
                <div class="card energized-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                        <h2>Scotland</h2>
                        <p>Land of Unicorns</p>
                        <img src="http://ionicmaterial.com/preview/img/scotland.jpg">
                    </a>
                </div>
                <div class="card assertive-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                        <h2>Kyoto</h2>
                        <p>Cultural Experience</p>
                        <img src="http://ionicmaterial.com/preview/img/kyoto.jpg">
                    </a>
                </div>
                <div class="card balanced-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                        <h2>New Zealand</h2>
                        <p>More Than the Other Down Under</p>
                        <img src="http://ionicmaterial.com/preview/img/new-zealand.jpg">
                    </a>
                </div>
                <div class="card royal-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                        <h2>Hawai'i</h2>
                        <p>Paradise Getaway</p>
                        <img src="http://ionicmaterial.com/preview/img/hawaii.jpg">
                    </a>
                </div>
            </div>

  </ion-content>
</ion-view>
