<ion-view view-title="" cache-view="true">
  <ion-content has-bouncing="false">
    <ion-slide-box auto-play="true" does-continue="true" delegate-handle="true">
      <ion-slide ng-repeat="showPromo in requestPromo">
        <div class="item item-image">
          <img width="1012" height="467" image-lazy-src="{{ serviceApi }}upload/gambar/{{ showPromo.promo_img }}" image-lazy-loader="spiral">
          </div>
      </ion-slide>
    </ion-slide-box>

    <div class="list card" ng-repeat="showCategory in requestCategory">
      <div class="item item-image" ui-sref="app.menu({category:showCategory.category_id,title:showCategory.category_name})">
        <img width="1012" height="467" image-lazy-src="{{ serviceApi }}upload/gambar/{{ showCategory.category_img }}" image-lazy-loader="spiral">
      </div>
    </div>
  </ion-content>
</ion-view>
